body:hover {
  cursor: pointer;
}
.header {
  display: flex;
  max-width: 100%;
  height: 64px;
  border: 1px solid black;
  background-color: rgb(254, 249, 243);
}
.left-header {
  display: flex;
  justify-content: space-between;
  flex-basis: 75%;
  align-items: center;
}
.right-header {
  display: flex;
  flex-basis: 25%;
  justify-content: flex-end;
  align-items: stretch;
}

.menu {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
#search {
  margin-right: 15px;
}

.support {
  color: white;
  background-color: black;
  border: none;
  padding: 0 2rem;
  font-size: 12px;
  font-weight: bold;
}

.sign-in {
  background-color: transparent;
  border: none;
  padding: 0 1rem;
  font-size: 12px;
  font-weight: bold;
}
.pink {
  display: flex;
  align-items: center;
  background-color: rgb(224, 128, 173);
  justify-content: center;
}
.sign-up-now {
  text-align: center;
  align-items: center;
  width: 60%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
}

.tap-in {
  background-color: white;
  padding: 15px 50px;
  border-radius: 40px;
  margin-top: 15px;
  font-weight: bold;
}
footer {
  background-color: black;
  color: rgb(254, 249, 243);
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 10px;
}
p {
  line-height: 1.1;
  width: 22rem;
}
.footer-button {
  background-color: rgb(254, 249, 243);
  border-radius: 20px;
  padding: 10px 35px;
  font-size: 10px;
  font-weight: bold;
}
.footer-main {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-top: 20px;
  padding-left: 20px;

  min-height: 200px;
}
.one {
  margin-right: 60px;
  line-height: 3em;
  padding-right: 50px;
  font-size: 12px;
}
.footer-end {
  background-color: black;
  color: rgb(254, 249, 243);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  padding-left: 18px;
  font-weight: bold;
  font-size: 10px;
}
.footer-p {
  color: rgb(85, 83, 81);
}
.footer-img {
  width: 0.5cm;
  height: 0.5cm;
  margin: 0 5px;
}
