@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
}

.cars {
  min-height: 60vh;
  background-color: hsl(0, 0%, 95%);
  padding: 24px;
}

.cars .cars-inner {
  padding: 48px;
}

.cars .cars-inner:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.cars .cars-inner:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.theme-orange {
  background-color: hsl(31, 77%, 52%);
}
.cars .cars-inner img {
  width: 48px;
  height: 48px;
  object-fit: contain;
  margin-bottom: 18px;
}
.theme-orange button {
  color: hsl(31, 77%, 52%);
}
.cars .cars-inner h1 {
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  font-size: 32px;
  color: hsl(0, 0%, 95%);
  margin-bottom: 24px;
}

.cars .cars-inner p {
  font-size: 14px;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.6;
  margin-bottom: 16px;
}
.theme-cyan {
  background-color: hsl(184, 100%, 22%);
}
.theme-cyan button {
  color: hsl(184, 100%, 22%);
}
.theme-green {
  background-color: hsl(179, 100%, 13%);
}
.theme-green button {
  color: hsl(179, 100%, 13%);
}

@media (min-width: 767px) {
  .cars {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
  }
  .theme-green {
    grid-column: 1 / span 2;
  }
  .theme-orange {
    border-radius: 0px;
  }
  .cars .cars-inner:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 0px;
  }
  .cars .cars-inner:nth-child(2) {
    border-top-right-radius: 12px;
  }

  .cars .cars-inner:last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}

button {
  border: none;
  border-radius: 25px;
  padding: 16px 32px;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .cars {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* border-radius: 0px; */
  }
  /* .cars-inner {
    border-radius: 0px;
  } */
  .theme-orange {
    border-top-right-radius: 0px;
  }
  .theme-green {
    grid-column: 3/ 4;
  }
  .cars .cars-inner:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 12px;
  }
  .cars .cars-inner:nth-child(2) {
    border-top-right-radius: 0px;
  }

  .cars .cars-inner:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 12px;
  }

  button:hover {
    border: 1px solid black;
    background-color: transparent;
    color: black;
  }
}
