* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
span {
  color: #6860fa;
}
button {
  cursor: pointer;
}
.btn:hover {
  /* box-shadow: none; */
  background-color: #191565;
  transition: background-color 2s;
}
.a-top {
  background-color: #5850eb;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: relative;
}
.antras {
  cursor: pointer;
  text-decoration: none;
  color: white;
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -50%);
}
a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

h1 {
  align-self: center;
}
.icons {
  display: flex;
  column-gap: 8px;
}

.exploring {
  background-color: #6860fa;
  color: white;
  display: flex;
  flex-direction: column;
  height: 650px;
  justify-content: center;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
}
.exploring h1 {
  font-size: 48px;
  font-weight: 100;
  line-height: 40px;
  padding-bottom: 26px;
}

.exploring p {
  font-size: 12px;
  line-height: 24px;
  font-weight: 100;
  padding-bottom: 22px;
}
.exploring button {
  background-color: #6860fa;
  color: white;
  border: none;
  font-size: 11px;
  padding: 4px;
  box-shadow: 0.5px 0.5px 4px 1px #5850eb;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 40px;
}

.about h2 {
  font-size: 19px;
  font-weight: 200;
  padding: 30px 0 15px;
}
.about p {
  font-size: 12px;
  padding-bottom: 12px;
}
.about img {
  max-width: 100%;
  height: auto;
  align-self: center;
}
.about a {
  text-decoration: none;
  font-size: 11px;
}
.services img {
  width: 20px;
  height: 20px;
}
.services {
  display: grid;
  /* gap: 10px; */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 160px 160px;
  background-color: rgb(240, 237, 237);
  padding-bottom: 60px;
}
.services h2,
h3,
h4 {
  font-weight: 200;
  font-size: 15px;
  padding: 16px;
}
.top-grid {
  grid-column: 1/3;
  justify-self: center;
  align-self: center;
  padding-top: 38px;
  font-size: 20px;
  font-weight: 80;
}
.frames one {
  grid-row: 2/3;
  grid-column: 1/2;
  justify-self: center;
}
.frames two {
  grid-row: 2/3;
  grid-column: 2/3;
  justify-self: center;
}
.frames three {
  grid-row: 3/4;
  grid-column: 1/2;
  justify-self: center;
}

.frame {
  width: 34px;
  height: 42px;
  background-color: #6860fa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frames {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 18px;
  text-align: center;
  align-self: self-start;
}
.frames p {
  font-size: 12px;
  line-height: 16px;
}
.trip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
}
.trip img {
  max-width: 100%;
  height: auto;
  align-self: center;
}
.trip-bottom img {
  width: 12px;
  height: 12px;
}
.booking {
  box-shadow: 0.2px 0.2px 6px 0.2px #737374;
  margin-bottom: 30px;
  text-align: left;
}
.trip-bottom {
  display: flex;
  justify-content: space-between;
  padding-left: 12px;
  align-items: last baseline;
}
.map {
  display: flex;
}
.booking h3,
h4 {
  font-size: 12px;
}
.best {
  margin-left: 15px;
  margin-top: 15px;
  font-size: 12px;
}
.price {
  width: 100px;
}
.cover-photo {
  position: relative;
}
.date {
  background-color: #5850eb;
  opacity: 0.75;
  position: absolute;
  left: 0;
  top: 0;
  text-transform: capitalize;
  padding: 0.25rem 0.5rem;
}
.two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.galerija {
  background-color: rgb(240, 237, 237);
  display: flex;
  flex-direction: column;
}
.galerija img {
  max-width: 100%;
  height: auto;
  align-self: center;
}
.gallery {
  position: relative;
}
.gallery::after {
  content: '';
  background-color: #5850eb;
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.15s ease-in;
}
