.img {
  width: 100%;
}
.p {
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
.search-bar {
  display: block;
  font-size: 20px;
  margin-left: 12px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 20px;
}
.video-title {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: black;
  line-height: 20px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.channel-picture {
  margin-top: 10px;
}
.video-info {
  color: dimgray;
  font-size: 12px;
  line-height: 6px;
}
.profile-picture {
  width: 40px;
  border-radius: 50%;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
