body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(95, 19, 81);
}
.container {
  background-color: rgb(68, 34, 74);
  width: 600px;
  border: 6px dotted rgb(213, 137, 30);
  padding: 40px 25px 25px 25px;
  color: rgb(218, 44, 44);
  margin: 0 auto;
}
h1 {
  color: rgb(224, 185, 44);
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 15px;
}
h2 {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 15px;
}
h3 {
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 15px;
}
p span {
  font-size: 40px;
}
